.MainLayout {
    display: grid;  
}

.content {
    display: grid;
    grid-template-columns: 20vh auto;
    padding-top: 10vh;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
    .content {
        display: flex;
        padding-top: 5vh;
    }
}

@media (max-width: 480px) {

    
}