.header {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    width: 100%;
    padding: 5px 20px;
    padding-left: 20vh;
    font-size: clamp(13px, 2vw, 16px);
    position: fixed;
    z-index: 99;
    height: 10vh;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.479);
}


.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100%;
}
.topHeaderRight h5 {
  cursor: pointer;
}
.topHeaderRight h5:hover {
  color: #00abf0;
}
.topHeaderLeft {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center ;
  gap: 5px;
  height: 100%;
}
.ikutiKami {
  cursor: default;
}
.topHeaderLeft img {
  height: 70%;
  cursor: pointer;
}
.topHeaderRight {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center ;
  gap: 5px;
}
.display-container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  right: 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 100;
  width: 500%;
  background-color: white;
  color: black;
}

.dropdown div {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dropdown label {
  margin-right: 8px;
}
.dropdown select, input {
  cursor: pointer;
}



.midHeader {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 5px 0;
}
.botHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.navbarLogo {
    position: absolute;
    top: 0;
    left: 3%;
    cursor: pointer;
    height: 100%;
}
.navbarLogo img {
    display: flex;
    height: 100%;
}

.search-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  height: 100%;
}

.input-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.searchProduk {
  padding: 0 35px 0 10px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(156, 156, 156, 0.815);
  cursor: text;
}

.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #999;
}

.search-btn {
  margin-left: 10px;
  cursor: pointer;
  height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid rgba(156, 156, 156, 0.815);
}

.suggestion-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #ffffffe5;
  border: 1px solid #cccccc80;
  border-radius: 4px;
  margin-top: 4px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 1000;
  color: black;
  font-size: 70%;
}

.suggestion-box li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #cccccc80;
}

.suggestion-box li:hover {
  background: #f2f2f2;
}

.no-result {
  text-align: center;
  color: #888;
}




@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .header {
        display: flex;
        padding-left: 0;
        height: 5vh;
    }
    .navbarLogo {
      height: 5vh;
    }
    .topHeader {
      display: none;
    }
}   

@media (max-width: 480px) {

}