.MainLayout {
    display: grid;
}

.content {
    display: grid;
    grid-template-columns: 20vh auto;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
    .content {
        display: flex;
    }
}

@media (max-width: 480px) {

    
}